.card-style {
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  border: none;
  height: auto;
  display: flex;
  width: 100%;
  
}
.body {
  padding-top: 2%;
  width: 100%;
  height: auto;
}
.image {
  object-fit: cover;
  height: 400px;
  width: 300px;
  margin: auto auto;
}
.card-title {
  margin-bottom: 3%;
  text-align: center;
}
.deployed-link {
  font-weight: bold;
  font-size: 30px;
  color: var(--quaternary);
  text-decoration: none;
}
.github-link {
  text-decoration: none;
  color: inherit;
  font-size: 30px;
}

.github-icon {
  font-size: 30px;
  align-items: center;
  text-decoration: none;
}

.links {
  text-align: left;
}

/* Responsiveness */
@media screen and (max-width: 1131px) {
  .image {
    width: 100%;
  }

}
