.alignment {
  text-align: left;
  padding-left: 0.5%;
  padding-right: 0.5%;
  width: 100%;
  padding: 0 1%;
}

#contact-button {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}

.form {
  margin-top: 20px;
  text-align: left;
}

.form input,
.form textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40%;
}
.textarea-height {
  height: 150px;
}

.input-label {
  font-weight: bold;
  padding-top: 10px;
}

.error {
  color: red;
  font-size: 15px;
  line-height: 20px;
}

.button {
  border: 0.5px solid var(--quaternary);
  padding: 4px 8px
}

@media screen and (max-width: 870px) {
  .form input,
.form textarea {
  width: 70%;
}
}