.header-container {
  height: 10vh;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--quaternary);
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* responsiveness */
@media screen and (max-width: 870px) {
  h1 {
    font-size: 1rem;
    padding-bottom: 15px;
  }
  .header-content {
    justify-content: center;
    flex-direction: column;
  }
  .header-container {
    height: 25vh;
  }
}

@media screen and (max-width: 413px) {
  h1 {
    font-size: 1rem;
    padding-bottom: 15px;
  }
  .header-content {
    justify-content: center;
    flex-direction: column;
  }
  .header-container {
    height: 30vh;
  }
}
