@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  width: 100%;
  text-align: center;
}
:root {
  --primary: #dcdcdc;
  --secondary: #000000;
  --tertiary: #646464;
  --quaternary: #1c1c1c;
  --quinary: #676767;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: left; */
  justify-content: left;
}

html,
body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--primary);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  position: relative;
  color: var(--quaternary);
}
a::after {
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 0;
}
a:hover::after {
  opacity: 1;
  content: "";
}
h1 {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: -4px;
  justify-content: flex-start;
  line-height: 60%;
  margin: 0;
}
h3 {
  font-size: 30px;
  color: var(--quaternary);
  text-align: center;
  font-weight: bold;
  letter-spacing: 4px;
}

@media screen and (max-width: 765px) {
  .name {
    font-size: 15px;
  }
}
