img {
  border-radius: 8px;
  width: 50%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #1c1c1c;
  margin-bottom: 10px;
}
p {
  line-height: 30px;
  color: var(--secondary);
  font-size: 15px;
  word-spacing: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

.name {
  letter-spacing: 0.1px;
}

@media screen and (max-width: 430px) {
  .paddingMobile {
    margin-bottom: 100px;
  }
}
